ol.threadpage {
  list-style: none;
  margin: 0;
  padding: 0; }

.message {
  margin: 0.7rem 0;
  padding: 0.7rem;
  overflow: hidden;
  list-style: none; }
  .message + .message {
    border-top: solid 0.3rem #dce6f0; }
    
.messageUserInfo {
  float: left;
  background-color: #dce6f0;
  width: 15rem;
  padding: 0.7rem; }
  .messageUserInfo h3 {
    font-size: 1em;
    color: inherit;
    margin: 0.1rem 0;
    padding: 0; }
    .messageUserInfo h3 * {
      font-size: inherit;
      font-weight: inherit;
      font-style: inherit;
      color: inherit;
      cursor: default;
      display: block; }
    .messageUserInfo h3 > a {
      font-weight: bold; }
  .messageUserInfo dl {
    margin: 0;
    padding: 0; }
    .messageUserInfo dt {
      font-weight: normal;
      display: inline-block; }
    .messageUserInfo dd {
      display: inline-block;
      margin: 0 0 0 0.2em; }
      
@media screen and (max-width: 42em) {
  .messageUserInfo {
    float: none; } }

.messageInfo {
  margin-left: 15rem;
  padding: 0.7rem; }
  
@media screen and (max-width: 42em) {
  .messageInfo {
    margin-left: 0; } }

.messageContent article > blockquote {
  padding: 0;
  color: inherit;
  border-left: none 0; }
